.hide-bullets {
  list-style:none;
  margin-left: -40px;
  margin-top:20px;
  display:flex;
  align-content: center;
  justify-content: center;
}
#align-slider{
  display:flex;
  align-content: center;
  justify-content: center;
}
#align-albums{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
  text-align: center;
}

/* Carousel left and right arrows */
.carousel-control.left{
  margin: auto;
  width: 15%;
  height: 35%;
  background: white;
  background-image: none;
  border-radius: 25px;
  border: 2px solid #DDDDDD;
}
.carousel-control.right{
  margin: auto;
  width: 15%;
  height: 35%;
  background: white;
  background-image: none;
  border-radius: 25px;
  border: 2px solid #DDDDDD;
}
.carousel-control.left:hover{
  margin: auto;
  width: 15%;
  height: 35%;
  background: #0085B2;
  background-image: none;
}
.carousel-control.right:hover{
  margin: auto;
  width: 16%;
  height: 35%;
  background: #0085B2;
  background-image: none;
}
.carousel-control.left:active{
  margin: auto;
  width: 15%;
  height: 35%;
  background: #00698C;
  background-image: none;
}
.carousel-control.right:active{
  margin: auto;
  width: 15%;
  height: 35%;
  background: #00698C;
  background-image: none;
}
/* /Carousel left and right arrows */

.heart {
  font-size: 25px;
  color:red;
  padding-right: 30px;
}
.heart:hover {
  color: darkred;
}

.songlabel{
  background-color: #DDDDDD;
  padding: 5px;
}
#tracklist{
  width:50%;
  margin: auto;
}

/* Tracklist hover */
.list-group-item:hover{
  background:  #0085B2;
  color: white;   
}
/* /Tracklist hover */

#leftarrow{
  color: #DDDDDD;
}
#rightarrow{
  color: #DDDDDD;
}
.item.active{
  height: 100%;
}
.item{
  height: 100%;
}






