.hide-bullets {
  list-style:none;
  margin-left: -40px;
  margin-top:20px;
  display:flex;
  align-content: center;
  justify-content: center;
}
#align-slider{
  display:flex;
  align-content: center;
  justify-content: center;
}
#align-albums{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
  text-align: center;
}

/* Carousel left and right arrows */
.carousel-control.left{
  margin: auto;
  width: 15%;
  height: 30%;
  background: white;
  background-image: none;
  border: 1px solid #DDDDDD;
  color: #DDDDDD;
}
.carousel-control.right{
  margin: auto;
  width: 15%;
  height: 30%;
  background: white;
  background-image: none;
  border: 1px solid #DDDDDD;
  color: #DDDDDD;
}
.carousel-control.left:hover{
  background: #0085B2;
  color: white;
}
.carousel-control.right:hover{
  background: #0085B2;
  color: white;
}
.carousel-control.left:active{
  background: #00698C;
}
.carousel-control.right:active{
  background: #00698C;
}

/* /Carousel left and right arrows */

/* Tracklist*/
#tracklist{
  width:55%;
  margin: auto;
  /* box-shadow: 0px 0px 25px 2px #888888; */
}
#tracklist li{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}
#tracklist li:hover{
  color: white;
  background:  #0085B2;
}
#tracklist li:hover .songlabel{
  background-color:#90B9C9;
  color: white;
}
#tracklist li:hover #songname{
  color: white;
}
#songorder{
  display: flex;
  justify-content: space-evenly;
}
#songname{
  color:#00698C;
}
#tnum{
  background-color: #90B9C9;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  color: white;
}
.heart {
  font-size: 25px;
  color:red;
  padding-left: 10px;
}
.heart:hover {
  color: darkred;
}
.songlabel{
  display: inline-block;
  background-color: #DDDDDD;
  padding: 5px;
  margin-bottom: 2px;
}
#songduration{
  margin-left: auto;
}
/* /Tracklist */

/* Album/Active album */
.item.active{
  height: 100%;
}
.item{
  height: 100%;
}
/* Album/Active album */








