.hide-bullets {
  list-style:none;
  margin-left: -40px;
  margin-top:20px;
  display:flex;
  align-content: center;
  justify-content: center;
}
#align-slider{
  display:flex;
  align-content: center;
  justify-content: center;
}
#align-albums{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
  text-align: center;
}

/* Carousel left and right arrows */
.carousel-control.left{
  margin: auto;
  width: 10%;
  height: 30%;
  background: white;
  background-image: none;
  border: 1px solid #DDDDDD;
  color: #DDDDDD;
}
.carousel-control.right{
  margin: auto;
  width: 10%;
  height: 30%;
  background: white;
  background-image: none;
  border: 1px solid #DDDDDD;
  color: #DDDDDD;
}
.carousel-control.left:hover{
  background: #0085B2;
  color: white;
}
.carousel-control.right:hover{
  background: #0085B2;
  color: white;
}
.carousel-control.left:active{
  background: #00698C;
}
.carousel-control.right:active{
  background: #00698C;
}

/* /Carousel left and right arrows */

/* Tracklist*/
#tracklist{
  width:85%;
  margin: auto;
  /* box-shadow: 0px 0px 25px 2px #888888; */
  resize: vertical;
  overflow: auto;
}
#tracklist li{
    display: flex;
    align-items: center;
    /* justify-items: inherit; */
    flex-direction: row;
    padding: 10px;
}
#songorder{
  display: flex;
  justify-content: space-between;
}
/* #tnum{
  display: flex;
  justify-content: center;
  align-content: center;
} */
.heart {
  font-size: 25px;
  color:red;
  /* padding-right: 30px; */
  padding-left: 10px;
}
.heart:hover {
  color: darkred;
}
.songlabel{
  background-color: #DDDDDD;
  padding: 5px;
}
.list-group-item:hover{
  background:  #0085B2;
  color: white;   
}
/* /Tracklist */

/* Album/Active album */
.item.active{
  height: 100%;
}
.item{
  height: 100%;
}
/* Album/Active album */








