.hide-bullets {
  list-style:none;
  margin-left: -40px;
  margin-top:20px;
  display:flex;
  align-content: center;
  justify-content: center;
  }
#align-slider{
  display:flex;
  align-content: center;
  justify-content: center;
}
#align-albums{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
  text-align: center;
}
.carousel-control.left{
  margin: auto;
  width: 10%;
  height: 50%;
  background: #DDDDDD;
  background-image: none;
}
.carousel-control.right{
  margin: auto;
  width: 10%;
  height: 50%;
  background: #DDDDDD;
  background-image: none;
}
.carousel-control.left:hover{
  margin: auto;
  width: 10%;
  height: 50%;
  background: #0085B2;
  background-image: none;
}
.carousel-control.right:hover{
  margin: auto;
  width: 10%;
  height: 50%;
  background: #0085B2;
  background-image: none;
}
.carousel-control.left:active{
  margin: auto;
  width: 10%;
  height: 50%;
  background: #00698C;
  background-image: none;
}
.carousel-control.right:active{
  margin: auto;
  width: 10%;
  height: 50%;
  background: #00698C;
  background-image: none;
}
.heart {
  font-size: 25px;
  color:red;
  padding-right: 30px;
}
.songlabel{
  background-color: #DDDDDD;
  padding: 5px;
}
.list-group-item:hover{
  background:  #0085B2;
  color: white;
}
#tracklist{
  width:50%;
  margin: auto;
}


